.about-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  background: #fff;
}

.about-img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.about-content {
  flex: 1 1 400px;
  max-width: 700px;
  background-color: white !important;
}

.about-content h2 {
  color: #157646;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.read-more {
  background-color: #157646;
  color: white !important;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.about-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 200px;
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  background: #e0dce0;
  color: #4a0033;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s ease;
}

.link-button:hover {
  background: #d5cad5;
}

.link-button.green {
  background-color: #3fc5a6;
  color: #fff;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    align-items: center;
  }

  .about-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .link-button {
    flex: 1 1 45%;
    text-align: center;
  }
}


/* CHOOSE US SECTION */

.why-choose-section {
  background-color: #157646;
  color: #fff;
  text-align: center;
  padding: 3rem 1.5rem;
}

.why-choose-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.info-card {
  background-color:white;
  border-radius: 8px;
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.info-card:hover {
  transform: translateY(-5px);
}

.info-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info-card h3 {
  font-size: 1.25rem;
  margin: 1rem 0 0.5rem 0;
  color: #157646;
}

.info-card p {
  font-size: 0.95rem;
  padding: 0 1rem 1rem 1rem;
  color: green;
}

/* Responsive */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}

.hero-content h1{
color: white !important;
}

.hero-content p{
color: white !important;
}

.stat-label {
  color: white !important;
}
.motto-card h2{
  color: white !important;
}
.motto-card p{
  color: white !important;
}

.cta-content h2{
  color: white !important;
}
.cta-button {
  background-color: white !important;
  color: #157646 !important;
}